<h1>Danh sách sản phẩm</h1>
<div>
  <button routerLink="/product/create">Tạo mới sản phẩm</button>
  <p style="text-align: center">Số lượng: {{count}}</p>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Tên</th>
    <th scope="col">Giá</th>
    <th scope="col">Mô tả</th>
    <th scope="col">Hành động</th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
<!--    <td>{{product.id}}</td>-->
    <td><a [routerLink]="['/product/',product.id]">{{product.title}}</a>  </td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td><button [routerLink]="['/product/edit',product.id]">Sửa</button> <button [routerLink]="['/product/delete',product.id]">Xóa</button></td>
  </tr>
  </tbody>
</table>
